<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/mainstyles.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <title>우리팀을 소개합니다</title>


</head>
<body>
<div class="top">
    <h1>Team B-2조 봄바람팀 소개 페이지 </h1>
</div>
<hr>
<div class = "col-md-13">

    <div class = "card p-3 mb-2">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
                <img src="static/image/mainImage.jpg" width="500" height="500">
                <div class="contentCard">
                    asdgfsdg
                </div>
            </div>
        </div>
    </div>

</div>
<hr>
<!--부트스트랩 시작-->

<div class="container mt-4 mb-3">
    <div class="row">

        <!--김지환-->
        <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon">
                            <img src="static/image/MyPic.jpg" width="100" height="100"></div>
                        <div class="ms-2 c-details">
                            <h2 class="mb-3">김지환</h2> <span>팀장</span>
                        </div>
                    </div>

                    <div class="badge"> <!--자신의 페이지 이동하는 버튼입니다. 아래와 같이 url 적어주셔서 이동하시면 됩니다.-->
                        <button type="button" onclick="location.href = 'jihwan'">마이페이지</button>
                    </div>

                </div>
                <hr><!--실선입니다-->

                <div class="mt-1"> <!--여기에 MBTI랑 간단한 자기 소개? 좌우명? 적으시죠-->  <!--mt-n n 값에 따라 여백 줄 수 있습니다.-->
                    <h3 class="heading">MBTI : ESFJ<br>좌우명 <br> Do not Ignorance,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fear
                        false Knowledge<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-pascal-</h3>
                </div>

            </div>
        </div>
        <!--김동현-->
        <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon"><img src="static/image/donghyun.jpg" width="100" height="100"></div>
                        <div class="ms-2 c-details">
                            <h2 class="mb-3">김동현</h2> <span>팀원</span>
                        </div>
                    </div>
                    <div class="badge">
                        <button type="button" onclick="location.href = 'donghyun'">마이페이지</button>
                    </div>
                </div>
                <hr>
                <div class="mt-5">
                    <h3 class="heading">Junior Product<br>Designer-Singapore</h3>
                </div>
            </div>
        </div>

        <!--박상욱-->
        <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon"><img src="이미지URL" width="100" height="100"></div>
                        <div class="ms-2 c-details">
                            <h2 class="mb-3">박상욱</h2> <span>팀원</span>
                        </div>
                    </div>
                    <div class="badge">
                        <button type="button" onclick="location.href = 'sangwook'">마이페이지</button>
                    </div>
                </div>
                <hr>
                <div class="mt-5">
                    <h3 class="heading">Junior Product<br>Designer-Singapore</h3>
                </div>
            </div>
        </div>

        <!--김미란-->
        <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon"><img src="https://i.pinimg.com/564x/0f/3a/8a/0f3a8a77054cec1172da03f6593f4175.jpg" width="100" height="100"></div>
                        <div class="ms-2 c-details">
                            <h2 class="mb-3">김미란</h2> <span>팀원</span>
                        </div>
                    </div>
                    <div class="badge">
                        <button type="button" onclick="location.href = 'miran'">마이페이지</button>
                    </div>
                </div>
                <hr>
                <div class="mt-1"> <!--여기에 MBTI랑 간단한 자기 소개? 좌우명? 적으시죠-->  <!--mt-n n 값에 따라 여백 줄 수 있습니다.-->
                    <h3 class="heading">MBTI : ISTP<br>좌우명 <br>  You only live once,<br> but if you do it right,<br> once is enough. </h3>
                </div>

            </div>
        </div>
    </div>

</div>

</body>
</html>